body {
        margin: 0;
        font-family: Helvetica, sans-serif;
        background-color: rgb(36, 36, 36);
        
}
#logo {margin: 5px 20px 5px 20px;}
.superior {
        float: left;
        width: 100%;
        height: 50px;
        opacity: 0.5;
        background-color:black;
}
.barra {
        height: 50px;
        width: 100%;
        background-color: black;
        opacity: 0.8;
        position: fixed;
        z-index: 10;

}
.redes {
        text-align:right;
margin-left: 60%;}


h1 {
        color: white;
        font-size: 15px;;
        position: relative;
        margin-top: 0px;
}
p {
        color: white;
        font-size: 12px;
        position: relative;
        margin-top: 0px;}
ul {
        overflow: hidden;
        display: inline;
        vertical-align: bottom; 
        background-color: 555;
        color: white;
    }
li {    color: white;
        display: inline-block;
        margin: 0;
        
}
a{color:white;
        text-decoration: none;
        margin: 20px;
}

li:hover {opacity: 0.6;
        color: FFF;}

.Docuementalsinteresants {
        float: left;}
        

h2 {
        color: white;
        font-size: 20px;}
.portadas{

        float: left;
        width: 175px;
        margin: 20px;
        position:relative;
        top: 200px;
        border-radius: 5px;
}

.portadas2{

        float: left;
        width: 175px;
        margin: 20px;
        position:relative;
        top: 200px;
        border-radius: 5px;
        filter: grayscale(100);
}
.portadas3{

        float: left;
        width: 175px;
        margin: 20px;
        position:relative;
        top: 20px;
        border-radius: 5px;
        filter: grayscale(50);
}
.portadas4{

        float: left;
        width: 175px;
        margin: 20px;
        position:relative;
        top: 20px;
        border-radius: 5px;
}
.portadas5{

        float: left;
        width: 175px;
        margin: 20px;
        position:relative;
        top: 20px;
        border-radius: 5px;
}
.tipo {position: relative;
        bottom: 30px;
        left: 60%;
        color: white;
        font-size: 12px;
}
.tipo2 {position: relative;
        bottom: 30px;
        left: 85%;
        color: white;
        font-size: 12px;
}
.secciones {
        margin-top: 0px;
        position: relative;
        top: 220px;
        left: 20px;
}
.seccioness {
        position: relative;
        margin-top: 520px;
        margin-left: 20px;
}

.redes {margin: 5px;}
