body {
        background-color: beige;
        }

.contenidor{
        width:800px;
        height: 800px;
        background-color: brown;
        border: 10px solid maroon;
        box-shadow: 25px 25px 15px rgb(139, 139, 139);
        }

.filera {
        background-color: white;
        width: 800px;
        height: 100px;
        }

.casella {
        width: 80px;
        height: 80px;
        padding: 10px;
        float: left;
        }

.fixa {  
        width: 80px;
        height: 80px;
        border-radius: 100%;
        }

.filera:nth-child(2n) .casella:nth-child(2n+1) .fixa{
        background-image: radial-gradient( grey,white);
        }

.filera:nth-child(2n+1) .casella:nth-child(2n+1) .fixa{
        background-image: radial-gradient( grey,black);
        }

.filera:nth-child(2n) .casella:nth-child(2n) .fixa{
        background-image: radial-gradient( grey,black);
        }

.filera:nth-child(2n+1) .casella:nth-child(2n) .fixa{
        background-image: radial-gradient( grey,white);
        }




.filera:nth-child(2n) .casella:nth-child(2n){
        background-image: linear-gradient(45deg,purple, rgb(0, 0, 0));
        }


.filera:nth-child(2n) .casella:nth-child(2n+1){
        background-image: linear-gradient(45deg, gold, orange);
        }

.filera:nth-child(2n+1) .casella:nth-child(2n){
        background-image: linear-gradient(45deg, gold, orange);
        }

.filera:nth-child(2n+1) .casella:nth-child(2n+1){
        background-image: linear-gradient(45deg, purple, rgb(59, 59, 59));
        }

.filera:nth-child(3) .fixa {
        display:none;
        }

.filera:nth-child(4) .fixa {
        display:none;
        }
.filera:nth-child(5) .fixa {
        display:none;
        }
.filera:nth-child(6) .fixa {
        display:none;
        }

.fixa{
        position: relative;
        box-shadow: 5px 5px 5px grey;
        }

.fixa:hover{/* Para mover ficha hacia bajo 1 posicion */
        opacity: 0.8;
        top: 100px;     
        }

.filera:nth-child(1) .fixa:hover{/* Para mover ficha hacia bajo pero en 2 posiciones */
        opacity: 0.8;
        top: 200px;
        }

.filera:nth-child(7) .fixa:hover{
        top:-100px;
        }

.filera:nth-child(8) .fixa:hover{
        top:-200px;
        }