div {
    width: 57mm;
    height: 90mm;
    background-color: rgb(197, 148, 207);
    position: absolute;
    z-index: 10 ;
}

#v1 {
    left: 18mm; top: 8mm;
    background-image: url(img/Watch1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#v2 {
    left: 78mm; top: 8mm;
    background-image: url(img/Watch2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v3 {
    left: 137mm; top: 8mm;
    background-image: url(img/Watch3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#v4 {
    left: 18mm; top: 100mm;
    background-image: url(img/Watch4.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#v5 {
    left: 78mm; top: 100mm;
    background-image: url(img/Watch5.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#v6 {
    left: 137mm; top: 100mm;
    background-image: url(img/Watch6.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v7 {
    left: 18mm; top: 192mm;
    background-image: url(img/Watch7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#v8 {
    left: 78mm; top: 192mm;
    background-image: url(img/Watch8.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#v9 {
    left: 137mm; top: 192mm;
    background-color: green;
    z-index: 3;
    background-image: url(img/Watch3.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
